@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin:0;
}
body {
    background-color: #9AC8CD;
}
.navli, .ali {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #0E46A3;
    transition: all 0.8s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 3%;
}

.navlinks {
    list-style: none;
}

.navli:hover, .ali:hover {
    color: #ffffff;

}



.navlinks .navli {
    display: inline-block;
    padding: 0px 10px;

}

.logo {
    float: left;
    transition: transform .2s;
}

.logo:hover {
    transform: scale(1.2);
}

.welcomeimg {
    opacity: 0.7;
}

.welcomecontainer {
    position: relative;
    text-align: center;
}

.welcometext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    font-style: normal;
}

.htext1 {
    font-size: 50px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    text-align: center;
}
#introducere {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    font-family: "Outfit", sans-serif;
}

#intro1 {
    text-align: center;
    font-size: 20px;
    font-family: "Lexend", sans-serif;


}

#part1 {
    border-style: solid;
    border-radius: 40px;
    margin-right: 200px;
    margin-left: 200px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: #E1F7F5;
    
}

.section{
    padding-top: 40px;
    text-align: center;

}

.item1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 40px;
    padding: 10px;
}

.descr {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Lexend", sans-serif;


}

.applevid {
    width: 600px;
    height: auto;
}

.publ{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
}

.galerieapple {
    text-align: center;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
    padding-top: 30px;
    padding-bottom: 40px;
}

.footer {
    background-color: rgb(122, 154, 207);
    height:60px;
}

.footertext {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

.title1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;

}

h2.title1 {
    font-size: 40px;
}

h3.title1 {
    font-size: 32px;
}
#pasiunedescr {
    border-style: solid;
    border-radius: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    background-color: #E1F7F5;
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

img.pasiunegalerie {
    padding: 5px;
}
.galeriepas {
    margin-left: -20px;
}

p.event1 {
    display: inline-block;
    padding-right: 80px;
}

.mentorimg {
    width: 400px;
    height: auto;
    border-radius: 20px;
    float: right;
    margin-right: 350px;
}

.mentorname {
    border: solid;
    margin-right: 500px;
    margin-left: 480px;
    margin-bottom: -500px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    font-family: "Ubuntu", sans-serif;
    font-size: 40px;
    font-weight: 500;
    background-color: #E1F7F5;
}

.mentorimg2 {
    width: 400px;
    height: auto;
    margin-left: 400px;
    border-radius: 20px;
}

#mentorname2 {
    float: right;
    margin-right: 280px;
    font-size: 40px;
    border: solid;
    padding: 20px;
    border-radius: 20px;
    margin-top: -350px;
    background-color: #E1F7F5;
}

.mentornamealt {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

.mySlides {
    display:none;
}

.eventtext {
    text-align: center; 
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

.containerspe {
    border-style: solid;
    border-radius: 30px;
    padding: 40px;
    margin-right: 900px;
    margin-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: #E1F7F5;
}

.item2 {
    font-size: 25px;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
}

.lispe {
    font-family: "Lexend", sans-serif;
    font-size: 23px;
}

.containerspe2 {
    border-style: solid;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: #E1F7F5;
    padding: 70px;
    margin-left: 680px;
    margin-top: -576px;
    padding-bottom: 50px;
    margin-right: 50px;
}

.videospe {
    width: 650px;
    height: 450px;
    margin: 0;
}

.info_descr {
    margin-left: 51px;
    background-color: #E1F7F5;
    padding: 30px;
    max-width: 630px;
    font-family: "Lexend", sans-serif;
    border-style: solid;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    font-size: 20px;
}

.info_descr > h4 {
    text-align: center;
    font-size: 32px;
}

.info_descr2 {
    background-color: #E1F7F5;
    font-family: "Lexend", sans-serif;
    border-style: solid;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    font-size: 26px;
    padding: 20px;
    max-width: 670px;
    margin-left: 115px;
}

.info_descr2 > h4 {
    text-align: center;
    font-size: 30px;
}

.contact_form {
    font-family: Montserrat;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border: 2px solid ;
    border-radius: 20px;
    background-color: #E1F7F5;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}


input[type=text], select, textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #9AC8CD;
}

#send_btn1 {
    width: 100%;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    font-family: Montserrat;
    background-color: #9AC8CD;
    font-weight: 500;
    transition: all 1s;
    border: 2px solid transparent;
}

#contactme_text {
    font-size: 27px;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
}

#send_btn1:hover {
    background-color: white;
    border: 2px black solid;
}

.mySlides {display: none}

* {box-sizing: border-box;}
.mySlides {display: none; position: relative;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 500px;
  margin: auto;
}

/* Caption text */
.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  font-family: Montserrat;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
